<section class="invoices-summary">
  <form class="filters-general array-purple-borderless">
    <span class="array-cell array-cell-label array-cell-label-xl"
      >Wybierz zakres dat</span
    >
    <span class="array-cell array-cell-label array-cell-label-s">Od:</span>
    <label class="array-cell-label-calendar">
      <input
        class="array-cell array-cell-label array-cell-label-xl"
        type="date"
      />
    </label>
    <span class="array-cell array-cell-label array-cell-label-s">Do:</span>
    <label class="array-cell-label-calendar">
      <input
        class="array-cell array-cell-label array-cell-label-xl"
        type="date"
      />
    </label>
    <input type="submit" class="button button-inline" value="Pobierz listę" />
  </form>

  <div class="array array-blue">
    <span class="label label-header">Przychód</span>
    <div class="array-container">
      <div class="array-row">
        <span class="array-cell array-cell-large">Data wystawienia</span>
        <span class="array-cell array-cell-large">Numer faktury</span>
        <span class="array-cell array-cell-large">Podmiot</span>
        <span class="array-cell array-cell-large">Termin</span>
        <span class="array-cell array-cell-large">Netto</span>
        <span class="array-cell array-cell-large">Brutto</span>
        <span class="array-cell array-cell-large">Status</span>
        <span class="array-cell array-cell-large array-cell-no-border"></span>
      </div>
      <div class="array-row">
        <span class="array-cell array-cell-large"></span>
        <span class="array-cell array-cell-large"></span>
        <span class="array-cell array-cell-large"></span>
        <span class="array-cell array-cell-large"></span>
        <span class="array-cell array-cell-large"></span>
        <span class="array-cell array-cell-large"></span>
        <span class="array-cell array-cell-large"></span>
        <div class="array-cell array-cell-large dropdown">
          <div class="dropdown-container">
            <span class="dropdown-button">Zarządzaj</span>
            <a
              class="dropdown-button dropdown-button-reverse"
              style="margin-top: 1.6cm"
              href="#"
              >Edytuj</a
            >
            <a
              class="dropdown-button dropdown-button-reverse"
              href="#"
              style="margin-top: 3.2cm"
              >Drukuj</a
            >
            <a
              class="dropdown-button dropdown-button-reverse"
              href="#"
              style="margin-top: 4.8cm"
              >Wyślij mailem</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="array-row array-row-space">
      <span class="button">Pobierz listę</span>
    </div>
  </div>
</section>
