<header class="header">
  <a class="label label-logo" routerLink="home"> your easy accounting </a>
  <div class="header-container-right">
    <div class="dropdown-container">
      <span class="dropdown-button">dodaj</span>
      <a
        class="dropdown-button dropdown-button-reverse"
        style="margin-top: 1.6cm"
        routerLink="inputInvoice"
        >Podmiot</a
      >
      <a
        class="dropdown-button dropdown-button-reverse"
        style="margin-top: 3.2cm"
        routerLink="addInvoice"
        >Fakturę VAT</a
      >
    </div>
    <div class="dropdown-container">
      <span class="dropdown-button">lista FV</span>
      <a
        class="dropdown-button dropdown-button-reverse"
        style="margin-top: 1.6cm"
        routerLink="obligationSummary"
        >wystawione</a
      >
      <a
        class="dropdown-button dropdown-button-reverse"
        style="margin-top: 3.2cm"
        routerLink="invoicesSummary"
        >do zapłaty</a
      >
    </div>
    <a class="button" routerLink="balanceSummary">bilans</a>
    <a class="button" routerLink="contact">kontakt</a>
    <a class="button" *ngIf="user" (click)="logOut()">Wyloguj</a>
  </div>
</header>
