<header class="header">
  <span class="label label-logo">your easy accounting</span>
  <div class="header-container-right">
    <div class="dropdown-container">
      <span class="dropdown-button">dodaj FV</span>
      <a
        class="dropdown-button dropdown-button-reverse"
        style="margin-top: 1.6cm"
        routerLink="addInvoice"
        >wystaw</a
      >
      <a
        class="dropdown-button dropdown-button-reverse"
        style="margin-top: 3.2cm"
        routerLink="inputInvoice"
        >wprowadź</a
      >
    </div>
    <div class="dropdown-container">
      <span class="dropdown-button">lista FV</span>
      <a
        class="dropdown-button dropdown-button-reverse"
        style="margin-top: 1.6cm"
        routerLink="invoicesSummary"
        >wystawione</a
      >
      <a
        class="dropdown-button dropdown-button-reverse"
        style="margin-top: 3.2cm"
        routerLink="obligationSummary"
        >do zapłaty</a
      >
    </div>
    <a class="button" routerLink="balanceSummary">bilans</a>
    <a class="button" routerLink="contact">kontakt</a>
    <a class="button" *ngIf="user" (click)="logOut()">Wyloguj</a>
  </div>
</header>
