<link rel="stylesheet" href="../array/array.css">
<link rel="stylesheet" href="array-with-search.css">
<link rel="stylesheet" href="../label/label.css">
<link rel="stylesheet" href="../array-cell/array-cell.css">
<link rel="stylesheet" href="../search-bar/search-bar.css">

<div class="array array-with-search">
    <span class="label label-header ">Zobowiazania wobec kontrahentów</span>
    <div class="array-container">
        <label class="search-bar">
            <input class="search-bar-input" placeholder="Wyszukaj po nazwie">
            <img class="search-bar-icon" src="../../assets/search.png" alt="search"/>
        </label>
        <div class="array-row">
            <span class="array-cell array-cell-small">Nazwa</span>
            <span class="array-cell array-cell-small">Email</span>
            <span class="array-cell array-cell-small">Telefon</span>
        </div>
        <div class="array-row">
            <span class="array-cell array-cell-small">Nazwa</span>
            <span class="array-cell array-cell-small">Email</span>
            <span class="array-cell array-cell-small">Telefon</span>
        </div>
        <div class="array-row">
            <span class="array-cell array-cell-small">Nazwa</span>
            <span class="array-cell array-cell-small">Email</span>
            <span class="array-cell array-cell-small">Telefon</span>
        </div>
        <div class="array-row">
            <span class="array-cell array-cell-small">Nazwa</span>
            <span class="array-cell array-cell-small">Email</span>
            <span class="array-cell array-cell-small">Telefon</span>
        </div>
    </div>
</div>