.button {
    background-color: #DA0BB8;
    font-size: 20px;
    color: #F9EBE0;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    width: 164px;
    height: 60px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-family: "Arial", sans-serif;
    cursor: pointer;
    border: none;
}

.button-inline {
    height: 48px;
    line-height: 48px;
}