<footer class="footer">
  <h2 class="footer-authors" style="margin-top: 1cm">Pracę wykonali:</h2>
  <div class="footer-emails" style="margin-top: 1cm">
    <div class="email">
      <img class="email-image" src="../../assets/email.png" alt="email" />
      <span class="email-label">agnieszka-banaszeko2.pl</span>
    </div>
    <div class="email">
      <img class="email-image" src="../../assets/email.png" alt="email" />
      <span class="email-label">bartlomiej.rutkowski00gmail.com</span>
    </div>
    <div class="email">
      <img class="email-image" src="../../assets/email.png" alt="email" />
      <span class="email-label">rcwyl1999outlook.com</span>
    </div>
    <div class="email">
      <img class="email-image" src="../../assets/email.png" alt="email" />
      <span class="email-label">beklemishchevasofiyagmail.com</span>
    </div>
    <div class="email">
      <img class="email-image" src="../../assets/email.png" alt="email" />
      <span class="email-label">karol.kubisz00gmail.com</span>
    </div>
  </div>
</footer>
