<link rel="stylesheet" href="../universal.css">
<link rel="stylesheet" href="header.css">
<link rel="stylesheet" href="../../components/button/button.css">
<link rel="stylesheet" href="../../components/dropdown/dropdown.css">
<link rel="stylesheet" href="../../components/label/label.css">

<header class="header">
    <span class="label label-logo">your easy accounting</span>
    <div class="header-container-right">
        <div class="dropdown">
            <div class="dropdown-container">
                <span class="dropdown-button">dodaj FV</span>
                <a class="dropdown-button dropdown-button-reverse" href="#">wystaw</a>
                <a class="dropdown-button dropdown-button-reverse" href="#">wprowadź</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown-container">
                <span class="dropdown-button">dodaj FV</span>
                <a class="dropdown-button dropdown-button-reverse" href="#">wystawione</a>
                <a class="dropdown-button dropdown-button-reverse" href="#">do zapłaty</a>
            </div>
        </div>
        <a class="button" href="#">bilans</a>
        <a class="button" href="#">kontakt</a>
    </div>
</header>