* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0E0D0D;
    color: #F9EBE0;
    font-weight: bold;
    font-family: "Arial", sans-serif;
}

::placeholder {
    color: #F9EBE0;
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: #F9EBE0;
}