<meta charset="UTF-8">
<link rel="stylesheet" href="../../layouts/universal.css">
<link rel="stylesheet" href="../../components/universal-input/universal-input.css">
<link rel="stylesheet" href="invoice-assortment.css">
<link rel="stylesheet" href="../../components/array/array.css">
<link rel="stylesheet" href="../../components/label/label.css">
<link rel="stylesheet" href="../../components/array-cell/array-cell.css">

<section class="invoice-assortment">
    <div class="array array-purple-borderless">
        <span class="label label-small">Asortyment</span>
        <div class="array-container">
            <div class="array-row">
                <span class="array-cell array-cell-extra-small array-cell-label-s">Nr.</span>
                <span class="array-cell array-cell-extra-small array-cell-label-custom">Nazwa</span>
                <span class="array-cell array-cell-extra-small array-cell-label-l">Ilość</span>
                <span class="array-cell array-cell-extra-small array-cell-label-l">J. m.</span>
                <span class="array-cell array-cell-extra-small array-cell-label-l">Cena netto</span>
                <span class="array-cell array-cell-extra-small array-cell-label-l">Cena brutto</span>
                <span class="array-cell array-cell-extra-small array-cell-label-l">Vat (%)</span>
                <span class="array-cell array-cell-extra-small array-cell-label-xl">Wartość brutto</span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-extra-small array-cell-label-s"></span>
                <span class="array-cell array-cell-extra-small array-cell-label-custom"></span>
                <span class="array-cell array-cell-extra-small array-cell-label-l"></span>
                <span class="array-cell array-cell-extra-small array-cell-label-l"></span>
                <span class="array-cell array-cell-extra-small array-cell-label-l"></span>
                <span class="array-cell array-cell-extra-small array-cell-label-l"></span>
                <span class="array-cell array-cell-extra-small array-cell-label-l"></span>
                <span class="array-cell array-cell-extra-small array-cell-label-xl"></span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-extra-small array-cell-label-s"></span>
                <span class="array-cell array-cell-extra-small array-cell-label-custom"></span>
                <span class="array-cell array-cell-extra-small array-cell-label-l"></span>
                <span class="array-cell array-cell-extra-small array-cell-label-l"></span>
                <span class="array-cell array-cell-extra-small array-cell-label-l"></span>
                <span class="array-cell array-cell-extra-small array-cell-label-l"></span>
                <span class="array-cell array-cell-extra-small array-cell-label-l"></span>
                <span class="array-cell array-cell-extra-small array-cell-label-xl"></span>
            </div>
        </div>
        <div class="array-row array-row-space">
            <span class="array-cell array-cell-extra-small array-cell-label-xl">Kwota do zapłaty:</span>
            <span class="array-cell array-cell-extra-small array-cell-label-xl">Wartość brutto</span>
        </div>
    </div>
</section>