<meta charset="UTF-8">
<link rel="stylesheet" href="../../layouts/universal.css">
<link rel="stylesheet" href="../../components/universal-input/universal-input.css">
<link rel="stylesheet" href="invoice-input.css">

<section class="invoice-input">
    <!--Text-->
    <div class="universal-input-container">
        <label class="universal-input-label" for="name-input">Numer faktury:</label>
        <input class="universal-input-input" type="text" id="name-input" name="name-input"/>
    </div>

    <!--Date-->
    <div class="universal-input-container">
        <label class="universal-input-label" for="name-input">Data wystawienia:</label>
        <input class="universal-input-input universal-input-input-calendar" type="date" id="name-input" name="name-input"/>
    </div>

    <!--PopUp-->
    <div class="universal-input-container">
        <label class="universal-input-label" for="name-input">Miejsce wystawienia:</label>
        <input class="universal-input-input" type="text" id="name-input" name="name-input" readonly/>
        <span class="universal-input-input-popup"></span>
    </div>

    <!--PopUp-->
    <div class="universal-input-container">
        <label class="universal-input-label" for="name-input">Sposób dostawy:</label>
        <input class="universal-input-input" type="text" id="name-input" name="name-input" readonly/>
        <span class="universal-input-input-popup"></span>
    </div>

    <!--PopUp-->
    <div class="universal-input-container">
        <label class="universal-input-label" for="name-input">Nabywca:</label>
        <input class="universal-input-input" type="text" id="name-input" name="name-input" readonly/>
        <span class="universal-input-input-popup"></span>
    </div>

    <!--PopUp-->
    <div class="universal-input-container">
        <label class="universal-input-label" for="name-input">Odbiorca:</label>
        <input class="universal-input-input" type="text" id="name-input" name="name-input" readonly/>
        <span class="universal-input-input-popup"></span>
    </div>

    <!--PopUp-->
    <div class="universal-input-container">
        <label class="universal-input-label" for="name-input">Płatnik:</label>
        <input class="universal-input-input" type="text" id="name-input" name="name-input" readonly/>
        <span class="universal-input-input-popup"></span>
    </div>

    <!--PopUp-->
    <div class="universal-input-container">
        <label class="universal-input-label" for="name-input">Sprzedawca:</label>
        <input class="universal-input-input" type="text" id="name-input" name="name-input" readonly/>
        <span class="universal-input-input-popup"></span>
    </div>
</section>