<link rel="stylesheet" href="array.css">
<link rel="stylesheet" href="../label/label.css">
<link rel="stylesheet" href="../array-cell/array-cell.css">

<div class="array">
    <span class="label label-header label-header-blue">Zobowiazania wobec kontrahentów</span>
    <div class="array-container">
        <div class="array-row">
            <span class="array-cell">Nr. Faktury</span>
            <span class="array-cell">Termin</span>
            <span class="array-cell">Podmiot</span>
            <span class="array-cell">Brutto</span>
        </div>
        <div class="array-row">
            <span class="array-cell">Nr. Faktury</span>
            <span class="array-cell">Termin</span>
            <span class="array-cell">Podmiot</span>
            <span class="array-cell">Brutto</span>
        </div>
        <div class="array-row">
            <span class="array-cell">Nr. Faktury</span>
            <span class="array-cell">Termin</span>
            <span class="array-cell">Podmiot</span>
            <span class="array-cell">Brutto</span>
        </div>
        <div class="array-row">
            <span class="array-cell">Nr. Faktury</span>
            <span class="array-cell">Termin</span>
            <span class="array-cell">Podmiot</span>
            <span class="array-cell">Brutto</span>
        </div>
        <div class="array-row">
            <span class="array-cell">Nr. Faktury</span>
            <span class="array-cell">Termin</span>
            <span class="array-cell">Podmiot</span>
            <span class="array-cell">Brutto</span>
        </div>
    </div>
</div>