.array {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    border: solid 1px #DA0BB8;
    width: 582px;
    align-items: center;
    background-color: #0E0D0D;
    padding-bottom: 18px;
}

.array-container {
    margin-top: 16px;
}

.array-row {
    display: flex;
    justify-content: space-between;
}