<section class="contact-images">
  <div class="array array-blue">
    <div class="contact-images-row">
      <div class="person-tile-container">
        <a class="person-tile-details" href="#">
          <img class="person-tile-gears" src="../../assets/gears.png" alt="" />
        </a>
        <img
          class="person-tile-photo"
          src="../../assets/person.png"
          alt="Imię i Nazwisko"
        />
        <span class="person-tile-name"> Agnieszka Banaszek </span>
        <span class="person-tile-album"> 123123 </span>
      </div>
      <div class="person-tile-container">
        <a class="person-tile-details" href="#">
          <img class="person-tile-gears" src="../../assets/gears.png" alt="" />
        </a>
        <img
          class="person-tile-photo"
          src="../../assets/person.png"
          alt="Imię i Nazwisko"
        />
        <span class="person-tile-name"> Agnieszka Banaszek </span>
        <span class="person-tile-album"> 123123 </span>
      </div>
      <div class="person-tile-container">
        <a class="person-tile-details" href="#">
          <img class="person-tile-gears" src="../../assets/gears.png" alt="" />
        </a>
        <img
          class="person-tile-photo"
          src="../../assets/person.png"
          alt="Imię i Nazwisko"
        />
        <span class="person-tile-name"> Agnieszka Banaszek </span>
        <span class="person-tile-album"> 123123 </span>
      </div>
    </div>
    <div class="contact-images-row">
      <div class="person-tile-container">
        <a class="person-tile-details" href="#">
          <img class="person-tile-gears" src="../../assets/gears.png" alt="" />
        </a>
        <img
          class="person-tile-photo"
          src="../../assets/person.png"
          alt="Imię i Nazwisko"
        />
        <span class="person-tile-name"> Agnieszka Banaszek </span>
        <span class="person-tile-album"> 123123 </span>
      </div>
      <div class="person-tile-container">
        <a class="person-tile-details" href="#">
          <img class="person-tile-gears" src="../../assets/gears.png" alt="" />
        </a>
        <img
          class="person-tile-photo"
          src="../../assets/person.png"
          alt="Imię i Nazwisko"
        />
        <span class="person-tile-name"> Agnieszka Banaszek </span>
        <span class="person-tile-album"> 123123 </span>
      </div>
    </div>
  </div>
</section>
