<link rel="stylesheet" href="../../components/dropdown/dropdown.css">
<link rel="stylesheet" href="../../components/array-with-summary/array-with-summary.css">
<link rel="stylesheet" href="../../components/array/array.css">
<link rel="stylesheet" href="../../components/button/button.css">
<link rel="stylesheet" href="../label/label.css">
<link rel="stylesheet" href="../array-cell/array-cell.css">
<link rel="stylesheet" href="array-with-edit.css">

<div class="array array-blue">
    <span class="label label-header ">Przychód</span>
    <div class="array-container">
        <div class="array-row">
            <span class="array-cell array-cell-large">Data wystawienia</span>
            <span class="array-cell array-cell-large">Numer faktury</span>
            <span class="array-cell array-cell-large">Podmiot</span>
            <span class="array-cell array-cell-large">Termin</span>
            <span class="array-cell array-cell-large">Netto</span>
            <span class="array-cell array-cell-large">Brutto</span>
            <span class="array-cell array-cell-large">Status</span>
            <span class="array-cell array-cell-large array-cell-no-border"></span>
        </div>
        <div class="array-row">
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <div class="array-cell array-cell-large dropdown">
                <div class="dropdown-container">
                    <span class="dropdown-button">Zarządzaj</span>
                    <a class="dropdown-button dropdown-button-reverse" href="#">Edytuj</a>
                    <a class="dropdown-button dropdown-button-reverse" href="#">Drukuj</a>
                    <a class="dropdown-button dropdown-button-reverse" href="#">Wyślij mailem</a>
                </div>
            </div>
        </div>
        <div class="array-row">
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <div class="array-cell array-cell-large dropdown">
                <div class="dropdown-container">
                    <span class="dropdown-button">Zarządzaj</span>
                    <a class="dropdown-button dropdown-button-reverse" href="#">Edytuj</a>
                    <a class="dropdown-button dropdown-button-reverse" href="#">Drukuj</a>
                    <a class="dropdown-button dropdown-button-reverse" href="#">Wyślij mailem</a>
                </div>
            </div>
        </div>
        <div class="array-row">
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <div class="array-cell array-cell-large dropdown">
                <div class="dropdown-container">
                    <span class="dropdown-button">Zarządzaj</span>
                    <a class="dropdown-button dropdown-button-reverse" href="#">Edytuj</a>
                    <a class="dropdown-button dropdown-button-reverse" href="#">Drukuj</a>
                    <a class="dropdown-button dropdown-button-reverse" href="#">Wyślij mailem</a>
                </div>
            </div>
        </div>
        <div class="array-row">
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <div class="array-cell array-cell-large dropdown">
                <div class="dropdown-container">
                    <span class="dropdown-button">Zarządzaj</span>
                    <a class="dropdown-button dropdown-button-reverse" href="#">Edytuj</a>
                    <a class="dropdown-button dropdown-button-reverse" href="#">Drukuj</a>
                    <a class="dropdown-button dropdown-button-reverse" href="#">Wyślij mailem</a>
                </div>
            </div>
        </div>
        <div class="array-row array-row-space">
            <span class="button">Pobierz listę</span>
        </div>
    </div>
</div>