<meta charset="UTF-8">

<link rel="stylesheet" href="../../layouts/universal.css">
<link rel="stylesheet" href="../../layouts/header/header.css">
<link rel="stylesheet" href="../../components/button/button.css">
<link rel="stylesheet" href="../../components/dropdown/dropdown.css">
<link rel="stylesheet" href="../../components/label/label.css">
<link rel="stylesheet" href="../../layouts/three-arrays/three-arrays.css">
<link rel="stylesheet" href="../../components/array/array.css">
<link rel="stylesheet" href="../../components/array-cell/array-cell.css">
<link rel="stylesheet" href="../../components/array-with-search/array-with-search.css">
<link rel="stylesheet" href="../../components/search-bar/search-bar.css">
<link rel="stylesheet" href="../../layouts/footer/footer.css">
<link rel="stylesheet" href="../../components/email/email.css">
<link rel="stylesheet" href="../../layouts/invoices-summary/invoices-summary.css">
<link rel="stylesheet" href="../../components/filters-general/filters-general.css">
<link rel="stylesheet" href="../../components/array-with-summary/array-with-summary.css">
<link rel="stylesheet" href="../../components/array-with-edit/array-with-edit.css">
<link rel="stylesheet" href="../../layouts/invoice-input/invoice-input.css">
<link rel="stylesheet" href="../../layouts/invoice-assortment/invoice-assortment.css">
<link rel="stylesheet" href="../../layouts/invoice-summary/invoice-summary.css">
<link rel="stylesheet" href="../../components/universal-input/universal-input.css">
<link rel="stylesheet" href="popup-search.css">

<section class="popup-search">
    <div class="array array-purple">
        <form class="array-container" action="#" method="post">
            <div class="array-row">
                <span class="close"></span>
            </div>
            <div class="array-row">
                <!--Text-->
                <div class="universal-input-container">
                    <label class="universal-input-label" for="name-input">Wyszukaj:</label>
                    <input class="universal-input-input" type="text" id="name-input" name="name-input"/>
                </div>
            </div>
            <div class="array-row">
                <!--Text-->
                <div class="universal-input-container">
                    <label class="universal-input-label" for="name-input">Dodaj sposób wystawiania:</label>
                    <input class="universal-input-input" type="text" id="name-input" name="name-input"/>
                </div>
            </div>
            <div class="array-row">

            </div>
            <div class="array-row">
                <span class="array-cell array-cell-extra-small array-cell-label-custom"></span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-extra-small array-cell-label-custom"></span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-extra-small array-cell-label-custom"></span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-extra-small array-cell-label-custom"></span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-extra-small array-cell-label-custom"></span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-extra-small array-cell-label-custom"></span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-extra-small array-cell-label-custom"></span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-extra-small array-cell-label-custom"></span>
            </div>
            <div class="array-row array-row-space">
                <input type="submit" class="button" value="Zapisz">
            </div>
        </form>
    </div>
</section>