<form [formGroup]="addInvoiceForm" (ngSubmit)="onSubmit()">
  <section class="invoice-input" style="width: 43cm">
    <!--Text-->

    <div class="universal-input-container">
      <label class="universal-input-label" for="name-input"
        >Numer faktury:</label
      >
      <input
        class="universal-input-input"
        type="number"
        id="name-input"
        formControlName="invoiceNum"
      />
    </div>

    <!--Date-->
    <div class="universal-input-container">
      <label class="universal-input-label" for="name-input"
        >Data wystawienia:</label
      >
      <input
        class="universal-input-input universal-input-input-calendar"
        type="date"
        id="name-input"
        formControlName="issueDate"
      />
    </div>

    <!--Text-->
    <div class="universal-input-container">
      <label class="universal-input-label" for="name-input"
        >Miejsce wystawienia:</label
      >
      <input
        class="universal-input-input"
        type="text"
        id="name-input"
        formControlName="issuePlace"
      />
    </div>

    <!--Text-->
    <div class="universal-input-container">
      <label class="universal-input-label" for="name-input"
        >Sposób dostawy:</label
      >
      <input
        class="universal-input-input"
        type="text"
        id="name-input"
        formControlName="deliveryMethod"
      />
    </div>

    <!--Text-->
    <div class="universal-input-container">
      <label class="universal-input-label" for="name-input">Nabywca:</label>
      <div class="dropdown-container">
        <select
          class="select"
          formControlName="vendorID"
          style="width: 36.88cm"
        >
          <option *ngFor="let vendor of vendors" [value]="vendor.ID">
            {{ vendor.name }}
          </option>
        </select>
      </div>
    </div>

    <!--Text-->
    <div class="universal-input-container">
      <label class="universal-input-label">Odbiorca:</label>
      <input
        class="universal-input-input"
        type="text"
        id="name-input"
        formControlName="reciver"
      />
    </div>

    <!--Text-->
    <div class="universal-input-container">
      <label class="universal-input-label">Płatnik:</label>
      <input
        class="universal-input-input"
        type="text"
        id="name-input"
        formControlName="payer"
      />
    </div>

    <!--Text-->
    <div class="universal-input-container">
      <label class="universal-input-label">Sprzedawca:</label>
      <input
        class="universal-input-input"
        type="text"
        id="name-input"
        formControlName="seller"
      />
    </div>
  </section>

  <section class="invoice-assortment" style="scale: 1.1; margin-left: -0.1cm">
    <div class="array array-purple-borderless">
      <span class="label label-small" style="margin-left: 9cm">Asortyment</span>
      <div class="array-container">
        <div class="array-row">
          <span
            class="array-cell array-cell-extra-small array-cell-label-custom"
            >Nazwa</span
          >
          <span class="array-cell array-cell-extra-small array-cell-label-l"
            >Ilość</span
          >
          <span class="array-cell array-cell-extra-small array-cell-label-l"
            >J. m.</span
          >
          <span class="array-cell array-cell-extra-small array-cell-label-l"
            >Cena netto</span
          >

          <span class="array-cell array-cell-extra-small array-cell-label-l"
            >Vat (%)</span
          >
        </div>
        <div class="array-row">
          <input
            class="array-cell array-cell-extra-small array-cell-label-custom"
            type="text"
            formControlName="assName"
          />
          <input
            class="array-cell array-cell-extra-small array-cell-label-l"
            formControlName="assQty"
            type="number"
          />
          <input
            class="array-cell array-cell-extra-small array-cell-label-l"
            formControlName="assJm"
            type="text"
          />
          <input
            class="array-cell array-cell-extra-small array-cell-label-l"
            formControlName="netPrice"
            type="number"
          />
          <input
            class="array-cell array-cell-extra-small array-cell-label-l"
            formControlName="VAT"
            type="number"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="invoice-summary" style="margin-left: 5cm">
    <div class="array array-blue-borderless">
      <span class="label label-small">Podsumowanie</span>
      <div class="array-container">
        <!--Text-->
        <div class="universal-input-container">
          <label class="universal-input-label">Wystawił:</label>
          <input
            class="universal-input-input"
            type="text"
            id="name-input"
            formControlName="issuedBy"
          />
        </div>

        <!--Text-->
        <div class="universal-input-container">
          <label class="universal-input-label">Odebrał:</label>
          <input
            class="universal-input-input"
            type="text"
            id="name-input"
            formControlName="recived"
          />
        </div>

        <!--Textarea-->
        <div class="universal-input-container">
          <label class="universal-input-label">Uwagi:</label>
          <textarea
            class="universal-input-input universal-input-input-textarea"
            id="name-input"
            formControlName="comments"
            rows="4"
          ></textarea>
        </div>

        <!--Date-->
        <div class="universal-input-container">
          <label class="universal-input-label">Termin płatności:</label>
          <input
            class="universal-input-input universal-input-input-calendar"
            type="date"
            id="name-input"
            formControlName="dueDate"
          />
        </div>

        <!--Row-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input"
            >Forma płatności:</label
          >
          <span class="array-cell array-cell-extra-small array-cell-label-l"
            >Gotówka:</span
          >
          <input
            class="custom-checkbox"
            type="checkbox"
            id="invoice-issue"
            formControlName="cash"
          />
          <span class="array-cell array-cell-extra-small array-cell-label-l"
            >Karta:</span
          >
          <input
            class="custom-checkbox"
            type="checkbox"
            id="invoice-issue"
            formControlName="card"
          />
          <span class="array-cell array-cell-extra-small array-cell-label-l"
            >Przelew:</span
          >
          <input
            class="custom-checkbox"
            type="checkbox"
            id="invoice-issue"
            formControlName="bank"
          />
        </div>

        <!--Date-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input"
            >Data zapłaty:</label
          >
          <input
            class="universal-input-input universal-input-input-calendar"
            type="date"
            id="name-input"
            formControlName="payDate"
          />
        </div>
      </div>

      <div class="array-row array-row-space">
        <button class="button" type="submit">Zapisz</button>
        <a class="button" (click)="inProduction()">Drukuj</a>
      </div>
    </div>
  </section>
</form>

<button (click)="test()">adasdasdas</button>
