<link rel="stylesheet" href="footer.css">
<link rel="stylesheet" href="../universal.css">
<link rel="stylesheet" href="../../components/email/email.css">

<footer class="footer">
    <h2 class="footer-authors">
        Pracę wykonali:
    </h2>
    <div class="footer-emails">
        <div class="email">
            <img class="email-image" src="../../assets/email.png" alt="email">
            <span class="email-label">agnieszka-banaszek@o2.pl</span>
        </div>
        <div class="email">
            <img class="email-image" src="../../assets/email.png" alt="email">
            <span class="email-label">bartlomiej.rutkowski00@gmail.com</span>
        </div>
        <div class="email">
            <img class="email-image" src="../../assets/email.png" alt="email">
            <span class="email-label">rcwyl1999@outlook.com</span>
        </div>
        <div class="email">
            <img class="email-image" src="../../assets/email.png" alt="email">
            <span class="email-label">beklemishchevasofiya@gmail.com</span>
        </div>
        <div class="email">
            <img class="email-image" src="../../assets/email.png" alt="email">
            <span class="email-label">karol.kubisz00@gmail.com</span>
        </div>
    </div>
</footer>