.header{
    background-color: #0E0D0D;
    display: flex;
    height: 117px;
    justify-content: space-between;
    align-items: center;
}
.header-container-right{
    display: flex;   
}
.header-container-right>.button,
.header-container-right>.dropdown-container{
    margin-left: 18px;
}