<section class="popup-invoice">
  <div class="array array-purple" style="width: 50cm">
    <form
      class="array-container"
      action="#"
      method="post"
      style="width: 30cm"
      [formGroup]="addClient"
      (submit)="onSubmit()"
    >
      <div class="array-row">
        <span class="close"></span>
      </div>
      <div class="array-row">
        <!--Text-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input">Nazwa:</label>
          <input
            class="universal-input-input"
            type="text"
            id="name-input"
            name="name-input"
            formControlName="name"
          />
        </div>
      </div>
      <div class="array-row"></div>
      <div class="array-row">
        <!--Text-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input">NIP:</label>
          <input
            class="universal-input-input"
            type="text"
            id="name-input"
            name="name-input"
            formControlName="NIP"
          />
        </div>
      </div>
      <div class="array-row">
        <!--Text-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input">Adres:</label>
          <input
            class="universal-input-input"
            type="text"
            id="name-input"
            name="name-input"
            formControlName="address"
          />
        </div>
      </div>
      <div class="array-row"></div>
      <div class="array-row">
        <!--Text-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input">Telefon:</label>
          <input
            class="universal-input-input"
            type="text"
            id="name-input"
            name="name-input"
            formControlName="phone"
          />
        </div>
      </div>
      <div class="array-row">
        <!--Text-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input">E-mail:</label>
          <input
            class="universal-input-input"
            type="text"
            id="name-input"
            name="name-input"
            formControlName="email"
          />
        </div>
      </div>
      <div class="array-row">
        <!--Textarea-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input">Uwagi:</label>
          <textarea
            class="universal-input-input universal-input-input-textarea"
            id="name-input"
            name="name-input"
            rows="4"
            formControlName="comments"
          ></textarea>
        </div>
      </div>

      <div class="array-row array-row-space">
        <button class="button" type="submit">Zapisz</button>
      </div>
    </form>
  </div>
</section>
