<section class="popup-invoice">
  <div class="array array-purple">
    <form class="array-container" action="#" method="post">
      <div class="array-row">
        <span class="close"></span>
      </div>
      <div class="array-row">
        <!--Text-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input">Nazwa:</label>
          <input
            class="universal-input-input"
            type="text"
            id="name-input"
            name="name-input"
          />
        </div>
      </div>
      <div class="array-row">
        <!--Text-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input"
            >Pełna nazwa:</label
          >
          <input
            class="universal-input-input"
            type="text"
            id="name-input"
            name="name-input"
          />
        </div>
      </div>
      <div class="array-row">
        <!--Text-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input">NIP:</label>
          <input
            class="universal-input-input"
            type="text"
            id="name-input"
            name="name-input"
          />
        </div>
      </div>
      <div class="array-row">
        <!--Text-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input">Adres:</label>
          <input
            class="universal-input-input"
            type="text"
            id="name-input"
            name="name-input"
          />
        </div>
      </div>
      <div class="array-row">
        <!--Text-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input">Regon:</label>
          <input
            class="universal-input-input"
            type="text"
            id="name-input"
            name="name-input"
          />
        </div>
      </div>
      <div class="array-row">
        <!--Text-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input">Telefon:</label>
          <input
            class="universal-input-input"
            type="text"
            id="name-input"
            name="name-input"
          />
        </div>
      </div>
      <div class="array-row">
        <!--Text-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input">E-mail:</label>
          <input
            class="universal-input-input"
            type="text"
            id="name-input"
            name="name-input"
          />
        </div>
      </div>
      <div class="array-row">
        <!--Textarea-->
        <div class="universal-input-container">
          <label class="universal-input-label" for="name-input">Uwagi:</label>
          <textarea
            class="universal-input-input universal-input-input-textarea"
            id="name-input"
            name="name-input"
            rows="4"
          ></textarea>
        </div>
      </div>

      <div class="array-row array-row-space">
        <input type="submit" class="button" value="Zapisz" />
      </div>
    </form>
  </div>
</section>
