<section class="balance-summary">
  <form class="filters-general array-purple-borderless">
    <span class="array-cell array-cell-label array-cell-label-xl"
      >Wybierz zakres dat</span
    >
    <span class="array-cell array-cell-label array-cell-label-s">Od:</span>
    <label class="array-cell-label-calendar">
      <input
        class="array-cell array-cell-label array-cell-label-xl"
        type="date"
        name="dateFrom"
        [(ngModel)]="dateFrom"
      />
    </label>
    <span class="array-cell array-cell-label array-cell-label-s">Do:</span>
    <label class="array-cell-label-calendar">
      <input
        class="array-cell array-cell-label array-cell-label-xl"
        type="date"
        name="dateTo"
        [(ngModel)]="dateTo"
      />
    </label>
    <button
      class="button button-inline"
      value="Pobierz listę"
      (click)="bulkFilter()"
    >
      Pobierz listę
    </button>
  </form>

  <div class="array array-blue">
    <span class="label label-header">Przychód</span>
    <div class="array-container">
      <div class="array-row">
        <span class="array-cell array-cell-large">Data wystawienia</span>
        <span class="array-cell array-cell-large">Numer faktury</span>
        <span class="array-cell array-cell-large">Podmiot</span>
        <span class="array-cell array-cell-large">Netto</span>
      </div>
      <div class="array-row" *ngFor="let invoice of incomingInvoices">
        <span class="array-cell array-cell-large">{{
          invoice.issueDate.toLocaleDateString()
        }}</span>
        <span class="array-cell array-cell-large">{{
          invoice.invoiceNum
        }}</span>
        <span class="array-cell array-cell-large">{{
          vendSer.getVendorById(invoice.clientID)?.name
        }}</span>
        <span class="array-cell array-cell-large">{{
          invoice.netPrice + " " + invoice.currency
        }}</span>
      </div>

      <div class="array-row array-row-space">
        <span class="array-cell array-cell-label array-cell-label-xl"
          >Kwota: {{ incomingBalance() }} PLN</span
        >
      </div>
    </div>
  </div>

  <div class="array array-purple">
    <span class="label label-header">Rozchód</span>
    <div class="array-container">
      <div class="array-row">
        <span class="array-cell array-cell-large">Data wystawienia</span>
        <span class="array-cell array-cell-large">Numer faktury</span>
        <span class="array-cell array-cell-large">Podmiot</span>
        <span class="array-cell array-cell-large">Netto</span>
      </div>
      <div class="array-row" *ngFor="let invoice of outcomingInvoices">
        <span class="array-cell array-cell-large">{{
          invoice.issueDate.toLocaleDateString()
        }}</span>
        <span class="array-cell array-cell-large">{{
          invoice.invoiceNum
        }}</span>
        <span class="array-cell array-cell-large">{{
          vendSer.getVendorById(invoice.clientID)?.name
        }}</span>
        <span class="array-cell array-cell-large">{{
          Absolute(invoice.netPrice) + " " + invoice.currency
        }}</span>
      </div>

      <div class="array-row array-row-space">
        <span class="array-cell array-cell-label array-cell-label-xl"
          >Kwota: {{ outcomingBalance() }} PLN</span
        >
      </div>
    </div>
  </div>
</section>
