<link rel="stylesheet" href="array-with-summary.css">
<link rel="stylesheet" href="../../components/array/array.css">
<link rel="stylesheet" href="../label/label.css">
<link rel="stylesheet" href="../array-cell/array-cell.css">

<div class="array array-blue">
    <span class="label label-header ">Przychód</span>
    <div class="array-container">
        <div class="array-row">
            <span class="array-cell array-cell-large">Data wystawienia</span>
            <span class="array-cell array-cell-large">Numer faktury</span>
            <span class="array-cell array-cell-large">Podmiot</span>
            <span class="array-cell array-cell-large">Netto</span>
        </div>
        <div class="array-row">
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
        </div>
        <div class="array-row">
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
        </div>
        <div class="array-row">
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
        </div>
        <div class="array-row">
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
            <span class="array-cell array-cell-large"></span>
        </div>
        <div class="array-row array-row-space">
            <span class="array-cell array-cell-label array-cell-label-xl">Kwota</span>
        </div>
    </div>
</div>