.label{
    color: #F9EBE0;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    font-family:"Arial";
}
.label-logo{
   background-color:#3131B8;
   text-transform: uppercase;
   width: 305px;
   height: 68px;
   line-height: 68px;
   font-size: 20px;
}
.label-header{
    width: calc(100% - 24px);
    height: 62px;
    line-height: 62px;
    font-size: 18px;
}
.label-header-blue{
    background-color:#3131B8;   
}  
.label-header-purple{
    background-color: #B137E9;   
}