.dropdown-container {
    display: flex;
    flex-direction: column;
}

.dropdown-container:hover>.dropdown-button-reverse {
    display: block;
}

.dropdown-button {
    background-color: #DA0BB8;
    font-size: 20px;
    color: #F9EBE0;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    width: 164px;
    height: 60px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-family: "Arial";
    cursor: pointer;
}

.dropdown-button-reverse {
    background-color: #0E0D0D;
    border: solid 1px #DA0BB8;
    margin-top: 9px;
    display: none;
}