<link rel="stylesheet" href="../universal.css">
<link rel="stylesheet" href="three-arrays.css">
<link rel="stylesheet" href="../../components/array/array.css">
<link rel="stylesheet" href="../../components/label/label.css">
<link rel="stylesheet" href="../../components/array-cell/array-cell.css">
<link rel="stylesheet" href="../../components/array-with-search/array-with-search.css">
<link rel="stylesheet" href="../../components/search-bar/search-bar.css">

<section class="three-arrays">
    <div class="array array-blue">
        <span class="label label-header ">Zobowiazania wobec kontrahentów</span>
        <div class="array-container">
            <div class="array-row">
                <span class="array-cell array-cell-small">Nr. Faktury</span>
                <span class="array-cell array-cell-small">Termin</span>
                <span class="array-cell array-cell-small">Podmiot</span>
                <span class="array-cell array-cell-small">Brutto</span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-small">Nr. Faktury</span>
                <span class="array-cell array-cell-small">Termin</span>
                <span class="array-cell array-cell-small">Podmiot</span>
                <span class="array-cell array-cell-small">Brutto</span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-small">Nr. Faktury</span>
                <span class="array-cell array-cell-small">Termin</span>
                <span class="array-cell array-cell-small">Podmiot</span>
                <span class="array-cell array-cell-small">Brutto</span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-small">Nr. Faktury</span>
                <span class="array-cell array-cell-small">Termin</span>
                <span class="array-cell array-cell-small">Podmiot</span>
                <span class="array-cell array-cell-small">Brutto</span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-small">Nr. Faktury</span>
                <span class="array-cell array-cell-small">Termin</span>
                <span class="array-cell array-cell-small">Podmiot</span>
                <span class="array-cell array-cell-small">Brutto</span>
            </div>
        </div>
    </div>

    <div class="array array-purple">
        <span class="label label-header ">Zobowiazania wobec kontrahentów</span>
        <div class="array-container">
            <div class="array-row">
                <span class="array-cell array-cell-small">Nr. Faktury</span>
                <span class="array-cell array-cell-small">Termin</span>
                <span class="array-cell array-cell-small">Podmiot</span>
                <span class="array-cell array-cell-small">Brutto</span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-small">Nr. Faktury</span>
                <span class="array-cell array-cell-small">Termin</span>
                <span class="array-cell array-cell-small">Podmiot</span>
                <span class="array-cell array-cell-small">Brutto</span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-small">Nr. Faktury</span>
                <span class="array-cell array-cell-small">Termin</span>
                <span class="array-cell array-cell-small">Podmiot</span>
                <span class="array-cell array-cell-small">Brutto</span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-small">Nr. Faktury</span>
                <span class="array-cell array-cell-small">Termin</span>
                <span class="array-cell array-cell-small">Podmiot</span>
                <span class="array-cell array-cell-small">Brutto</span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-small">Nr. Faktury</span>
                <span class="array-cell array-cell-small">Termin</span>
                <span class="array-cell array-cell-small">Podmiot</span>
                <span class="array-cell array-cell-small">Brutto</span>
            </div>
        </div>
    </div>

    <div class="array array-blue array-with-search">
        <span class="label label-header ">Zobowiazania wobec kontrahentów</span>
        <div class="array-container">
            <label class="search-bar">
                <input class="search-bar-input" placeholder="Wyszukaj po nazwie">
                <img class="search-bar-icon" src="../../assets/search.png" alt="search"/>
            </label>
            <div class="array-row">
                <span class="array-cell array-cell-small">Nazwa</span>
                <span class="array-cell array-cell-small">Email</span>
                <span class="array-cell array-cell-small">Telefon</span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-small">Nazwa</span>
                <span class="array-cell array-cell-small">Email</span>
                <span class="array-cell array-cell-small">Telefon</span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-small">Nazwa</span>
                <span class="array-cell array-cell-small">Email</span>
                <span class="array-cell array-cell-small">Telefon</span>
            </div>
            <div class="array-row">
                <span class="array-cell array-cell-small">Nazwa</span>
                <span class="array-cell array-cell-small">Email</span>
                <span class="array-cell array-cell-small">Telefon</span>
            </div>
        </div>
    </div>
</section>