.person-tile-container {
    border: solid 1px #B137E9;
    width: 280px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
}

.person-tile-details {

}

.person-tile-gears {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

.person-tile-photo {
    width: 100px;
    height: 100px;
}

.person-tile-name {
    font-size: 14px;
    margin-top: 25px;
}

.person-tile-album {
    font-size: 14px;
    margin-top: 15px;
}