<link rel="stylesheet" href="universal-input.css">

<!--Text-->
<div class="universal-input-container">
    <label class="universal-input-label" for="name-input">Numer faktury:</label>
    <input class="universal-input-input" type="text" id="name-input" name="name-input"/>
</div>

<!--Textarea-->
<div class="universal-input-container">
    <label class="universal-input-label" for="name-input">Numer faktury:</label>
    <textarea class="universal-input-input universal-input-input-textarea" id="name-input" name="name-input" rows="4"></textarea>
</div>

<!--Date-->
<div class="universal-input-container">
    <label class="universal-input-label" for="name-input">Data wystawienia:</label>
    <input class="universal-input-input universal-input-input-calendar" type="date" id="name-input" name="name-input"/>
</div>

<!--PopUp-->
<div class="universal-input-container">
    <label class="universal-input-label" for="name-input">Miejsce wystawienia:</label>
    <input class="universal-input-input" type="text" id="name-input" name="name-input" readonly/>
    <span class="universal-input-input-popup"></span>
</div>