<link rel="stylesheet" href="array.css">
<link rel="stylesheet" href="../label/label.css">
<link rel="stylesheet" href="../array-cell/array-cell.css">

<div class="array array-purple">
    <span class="label label-header ">Zobowiazania wobec kontrahentów</span>
    <div class="array-container">
        <div class="array-row">
            <span class="array-cell array-cell-small">Nr. Faktury</span>
            <span class="array-cell array-cell-small">Termin</span>
            <span class="array-cell array-cell-small">Podmiot</span>
            <span class="array-cell array-cell-small">Brutto</span>
        </div>
        <div class="array-row">
            <span class="array-cell array-cell-small">Nr. Faktury</span>
            <span class="array-cell array-cell-small">Termin</span>
            <span class="array-cell array-cell-small">Podmiot</span>
            <span class="array-cell array-cell-small">Brutto</span>
        </div>
        <div class="array-row">
            <span class="array-cell array-cell-small">Nr. Faktury</span>
            <span class="array-cell array-cell-small">Termin</span>
            <span class="array-cell array-cell-small">Podmiot</span>
            <span class="array-cell array-cell-small">Brutto</span>
        </div>
        <div class="array-row">
            <span class="array-cell array-cell-small">Nr. Faktury</span>
            <span class="array-cell array-cell-small">Termin</span>
            <span class="array-cell array-cell-small">Podmiot</span>
            <span class="array-cell array-cell-small">Brutto</span>
        </div>
        <div class="array-row">
            <span class="array-cell array-cell-small">Nr. Faktury</span>
            <span class="array-cell array-cell-small">Termin</span>
            <span class="array-cell array-cell-small">Podmiot</span>
            <span class="array-cell array-cell-small">Brutto</span>
        </div>
    </div>
</div>